#terminal {
  border: 2px solid black;
  font-family: courier,fixed,swiss,monospace,sans-serif;
  font-size: 12px;
  color: #bbbbbb;
  background: #000000;   
  border-collapse: collapse
}

.screen {
  border: 2px solid black;
}

#or-emulator {
  vertical-align: top;
}
